<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Kernel</key>
	<dict>
		<key>Patch</key>
		<array>
			<dict>
				<key>Arch</key>
				<string>i386</string>
				<key>Base</key>
				<string></string>
				<key>Comment</key>
				<string>dhinakG | _cpuid_get_info | cpuid_cores_per_package | 10.4+</string>
				<key>Count</key>
				<integer>1</integer>
				<key>Enabled</key>
				<true/>
				<key>Find</key>
				<data>ifDB6BqDwAGLTQiJgcAAAAA=</data>
				<key>Identifier</key>
				<string>kernel</string>
				<key>Limit</key>
				<integer>0</integer>
				<key>Mask</key>
				<data></data>
				<key>MaxKernel</key>
				<string>8.99.99</string>
				<key>MinKernel</key>
				<string>8.0.0</string>
				<key>Replace</key>
				<data>uAQAAACQkJCLTQiJgcAAAAA=</data>
				<key>ReplaceMask</key>
				<data></data>
				<key>Skip</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>Arch</key>
				<string>i386</string>
				<key>Base</key>
				<string></string>
				<key>Comment</key>
				<string>algrey, DhinakG | _cpuid_set_cache_info | Set CPUID proper instead of 4 | 10.4+</string>
				<key>Count</key>
				<integer>1</integer>
				<key>Enabled</key>
				<true/>
				<key>Find</key>
				<data>vgQAAACJ8In5</data>
				<key>Identifier</key>
				<string>kernel</string>
				<key>Limit</key>
				<integer>0</integer>
				<key>Mask</key>
				<data></data>
				<key>MaxKernel</key>
				<string>8.99.99</string>
				<key>MinKernel</key>
				<string>8.0.0</string>
				<key>Replace</key>
				<data>vh0AAICJ8In5</data>
				<key>ReplaceMask</key>
				<data></data>
				<key>Skip</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>Arch</key>
				<string>i386</string>
				<key>Base</key>
				<string></string>
				<key>Comment</key>
				<string>algrey | _cpuid_set_info | GenuineIntel to AuthenticAMD | 10.4+</string>
				<key>Count</key>
				<integer>1</integer>
				<key>Enabled</key>
				<true/>
				<key>Find</key>
				<data>R2VudWluZUludGVsAA==</data>
				<key>Identifier</key>
				<string>kernel</string>
				<key>Limit</key>
				<integer>0</integer>
				<key>Mask</key>
				<data></data>
				<key>MaxKernel</key>
				<string>8.99.99</string>
				<key>MinKernel</key>
				<string>8.0.0</string>
				<key>Replace</key>
				<data>QXV0aGVudGljQU1EAA==</data>
				<key>ReplaceMask</key>
				<data></data>
				<key>Skip</key>
				<integer>0</integer>
			</dict>
		</array>
	</dict>
</dict>
</plist>
