<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ACPI</key>
	<dict>
		<key>DSDT</key>
		<dict>
			<key>Fixes</key>
			<dict>
				<key>AddDTGP</key>
				<false/>
				<key>AddHDMI</key>
				<false/>
				<key>DeleteUnused</key>
				<false/>
				<key>FakeLPC</key>
				<false/>
				<key>FixAirport</key>
				<false/>
				<key>FixDisplay</key>
				<false/>
				<key>FixHDA</key>
				<false/>
				<key>FixHPET</key>
				<false/>
				<key>FixLAN</key>
				<false/>
				<key>FixRTC</key>
				<false/>
				<key>FixShutdown</key>
				<true/>
				<key>FixUSB</key>
				<false/>
			</dict>
			<key>Name</key>
			<string>DSDT.aml</string>
		</dict>
		<key>HaltEnabler</key>
		<true/>
		<key>SSDT</key>
		<dict>
			<key>EnableC6</key>
			<false/>
			<key>Generate</key>
			<dict>
				<key>CStates</key>
				<false/>
				<key>PStates</key>
				<false/>
			</dict>
		</dict>
	</dict>
	<key>Boot</key>
	<dict>
		<key>Arguments</key>
		<string>-v npci=0x2000 debug=0x100 keepsyms=1</string>
		<key>DefaultLoader</key>
		<string>boot.efi</string>
		<key>DefaultVolume</key>
		<string>LastBootedVolume</string>
		<key>Legacy</key>
		<string>PBR</string>
		<key>NeverHibernate</key>
		<true/>
		<key>Timeout</key>
		<integer>-1</integer>
	</dict>
	<key>BootGraphics</key>
	<dict>
		<key>EFILoginHiDPI</key>
		<integer>1</integer>
		<key>UIScale</key>
		<integer>1</integer>
	</dict>
	<key>CPU</key>
	<dict>
		<key>C6</key>
		<false/>
		<key>UseARTFrequency</key>
		<false/>
	</dict>
	<key>Devices</key>
	<dict>
		<key>Audio</key>
		<dict>
			<key>AFGLowPowerState</key>
			<true/>
			<key>ResetHDA</key>
			<true/>
		</dict>
		<key>ForceHPET</key>
		<false/>
		<key>HDMIInjection</key>
		<false/>
		<key>InjectHDMI</key>
		<false/>
		<key>InjectLAN</key>
		<false/>
		<key>LANInjection</key>
		<true/>
		<key>USB</key>
		<dict>
			<key>AddClockID</key>
			<false/>
			<key>FixOwnership</key>
			<false/>
			<key>Inject</key>
			<true/>
		</dict>
	</dict>
	<key>GUI</key>
	<dict>
		<key>EmbeddedThemeType</key>
		<string>Dark</string>
		<key>Hide</key>
		<array>
			<string>Preboot</string>
			<string>Legacy</string>
		</array>
		<key>KbdPrevLang</key>
		<true/>
		<key>Language</key>
		<string>en:0</string>
		<key>Mouse</key>
		<dict>
			<key>Enabled</key>
			<true/>
		</dict>
		<key>Scan</key>
		<dict>
			<key>Entries</key>
			<true/>
			<key>Linux</key>
			<true/>
			<key>Tool</key>
			<true/>
		</dict>
		<key>TextOnly</key>
		<true/>
		<key>Theme</key>
		<string>embedded</string>
	</dict>
	<key>Graphics</key>
	<dict>
		<key>Inject</key>
		<dict>
			<key>ATI</key>
			<false/>
			<key>NVidia</key>
			<false/>
		</dict>
		<key>RadeonDeInit</key>
		<false/>
	</dict>
	<key>KernelAndKextPatches</key>
	<dict>
		<key>AppleRTC</key>
		<true/>
		<key>KernelToPatch</key>
		<array>
			<dict>
				<key>Comment</key>
				<string>Disable panic kext logging on 10.13.x Release kernel</string>
				<key>Disabled</key>
				<true/>
				<key>Find</key>
				<data>
				igKEwHRE
				</data>
				<key>MatchOS</key>
				<string>10.13.x</string>
				<key>Replace</key>
				<data>
				igKEwOtE
				</data>
			</dict>
			<dict>
				<key>Comment</key>
				<string>Disable panic kext logging on 10.14.4+ Release kernel</string>
				<key>Disabled</key>
				<true/>
				<key>Find</key>
				<data>
				AIoChMB0
				</data>
				<key>MatchOS</key>
				<string>10.14.x,10.15.x</string>
				<key>Replace</key>
				<data>
				AIoChMDr
				</data>
			</dict>
			<dict>
				<key>Comment</key>
				<string>algrey - commpage_populate -remove rdmsr</string>
				<key>Disabled</key>
				<false/>
				<key>Find</key>
				<data>
				uaABAAAPMg==
				</data>
				<key>MatchOS</key>
				<string>10.13.x,10.14.x,10.15.x</string>
				<key>Replace</key>
				<data>
				Dx+AAAAAAA==
				</data>
			</dict>
			<dict>
				<key>Comment</key>
				<string>algrey - cpu_topology_sort -disable _x86_validate_topology</string>
				<key>Disabled</key>
				<false/>
				<key>Find</key>
				<data>
				6Ar2//+c
				</data>
				<key>MatchOS</key>
				<string>10.13.x</string>
				<key>Replace</key>
				<data>
				Dx9EAACc
				</data>
			</dict>
			<dict>
				<key>Comment</key>
				<string>algrey - cpu_topology_sort -disable _x86_validate_topology (10.14.4+)</string>
				<key>Disabled</key>
				<false/>
				<key>Find</key>
				<data>
				6Jn1//8=
				</data>
				<key>MatchOS</key>
				<string>10.14.x</string>
				<key>Replace</key>
				<data>
				Dx9EAAA=
				</data>
			</dict>
			<dict>
				<key>Comment</key>
				<string>xlnc - cpu_topology_sort -disable _x86_validate_topology</string>
				<key>Disabled</key>
				<false/>
				<key>Find</key>
				<data>
				6PT1//+c
				</data>
				<key>MatchOS</key>
				<string>10.15.x</string>
				<key>Replace</key>
				<data>
				Dx9EAACc
				</data>
			</dict>
			<dict>
				<key>Comment</key>
				<string>algrey - cpuid_set_cache_info - cpuid 0x8000001D instead 0</string>
				<key>Disabled</key>
				<false/>
				<key>Find</key>
				<data>
				McAx2zHJMdIPokGJxkGJ0YM9ygWNAAB0GEiNPZKSXwAx
				9jHAQYnIRInyidno6IlYAEGD/gQPgvoBAABFMfbrDGYP
				H4QAAAAAAA==
				</data>
				<key>MatchBuild</key>
				<string>17G65,17G66</string>
				<key>MatchOS</key>
				<string>10.13.6</string>
				<key>Replace</key>
				<data>
				uB0AAIAx2zHJMdIPokGJxkGJ0YM9xwWNAAB0G0iNPY+S
				XwC+HQAAgDHAQYnIRInyidno4olYAEGD/gQPgvQBAABF
				MfbrBg8fAA==
				</data>
			</dict>
			<dict>
				<key>Comment</key>
				<string>algrey - cpuid_set_cache_info - cpuid 0x8000001D instead 0</string>
				<key>Disabled</key>
				<false/>
				<key>Find</key>
				<data>
				McAx2zHJMdIPokGJxkGJ0YM92gaNAAB0GEiNPRmWXwAx
				9jHAQYnIRInyidnouIpYAEGD/gQPgvoBAABFMfbrDGYP
				H4QAAAAAAA==
				</data>
				<key>MatchBuild</key>
				<string>17G8030,17G8037</string>
				<key>MatchOS</key>
				<string>10.13.6</string>
				<key>Replace</key>
				<data>
				uB0AAIAx2zHJMdIPokGJxkGJ0YM91waNAAB0G0iNPRaW
				XwC+HQAAgDHAQYnIRInyidnosopYAEGD/gQPgvQBAABF
				MfbrBg8fAA==
				</data>
			</dict>
			<dict>
				<key>Comment</key>
				<string>algrey - cpuid_set_cache_info - cpuid 0x8000001D instead 0</string>
				<key>Disabled</key>
				<false/>
				<key>Find</key>
				<data>
				McAx2zHJMdIPokGJxoM93W+YAAB0G0GJ0UiNPRnAZwAx
				9jHAQYnIRInyidnoGBhgAEGD/gQPgvgBAABFMfbrDGYP
				H4QAAAAAAA==
				</data>
				<key>MatchOS</key>
				<string>10.14.6</string>
				<key>Replace</key>
				<data>
				uB0AAIAx2zHJMdIPokGJxkGJ0YM912+YAAB0G0iNPRbA
				ZwC+HQAAgDHAQYnIRInyidnoEhhgAEGD/gQPgvIBAABF
				MfbrBg8fAA==
				</data>
			</dict>
			<dict>
				<key>Comment</key>
				<string>xlnc - cpuid_set_cache_info - cpuid 0x8000001D instead 0</string>
				<key>Disabled</key>
				<false/>
				<key>Find</key>
				<data>
				McAx2zHJMdIPokGJxoM93V+YAAB0G0GJ0UiNPf2/ZwAx
				9jHAQYnIRInyidnoWBtgAEGD/gQPgvgBAABFMfbrDGYP
				H4QAAAAAAA==
				</data>
				<key>MatchBuild</key>
				<string>18G95,18G103</string>
				<key>MatchOS</key>
				<string>10.14.6</string>
				<key>Replace</key>
				<data>
				uB0AAIAx2zHJMdIPokGJxkGJ0YM912+YAAB0G0iNPfq/
				ZwC+HQAAgDHAQYnIRInyidnoUhtgAEGD/gQPgvIBAABF
				MfbrBg8fAA==
				</data>
			</dict>
			<dict>
				<key>Comment</key>
				<string>xlnc - cpuid_set_cache_info - cpuid 0x8000001D instead 0</string>
				<key>Disabled</key>
				<false/>
				<key>Find</key>
				<data>
				McAx2zHJMdIPokGJxoM95AygAAB0
				</data>
				<key>MatchOS</key>
				<string>10.15.0</string>
				<key>Replace</key>
				<data>
				uB0AAIAx2zHJMdIPokGJxg8fQADr
				</data>
			</dict>
			<dict>
				<key>Comment</key>
				<string>algrey - cpuid_set_cache_info - cpuid 0x8000001D instead 4</string>
				<key>Disabled</key>
				<false/>
				<key>Find</key>
				<data>
				uAQAAABEifFEiQ==
				</data>
				<key>MatchOS</key>
				<string>10.13.x,10.14.x,10.15.x</string>
				<key>Replace</key>
				<data>
				uB0AAIBEifFEiQ==
				</data>
			</dict>
			<dict>
				<key>Comment</key>
				<string>algrey - cpuid_set_cache_info - don't set cpuid_cores_per_package</string>
				<key>Disabled</key>
				<false/>
				<key>Find</key>
				<data>
				wega/8A=
				</data>
				<key>MatchOS</key>
				<string>10.13.x,10.14.x</string>
				<key>Replace</key>
				<data>
				Dx8A6wY=
				</data>
			</dict>
			<dict>
				<key>Comment</key>
				<string>xlnc - cpuid_set_cache_info - don't set cpuid_cores_per_package</string>
				<key>Disabled</key>
				<false/>
				<key>Find</key>
				<data>
				weoa/8I=
				</data>
				<key>MatchOS</key>
				<string>10.15.x</string>
				<key>Replace</key>
				<data>
				Dx8A6wY=
				</data>
			</dict>
			<dict>
				<key>Comment</key>
				<string>xlnc - cpuid_set_cache_info - skip cpuid_cores_per_package test</string>
				<key>Disabled</key>
				<false/>
				<key>Find</key>
				<data>
				gz1rC6AAAA+EpgEAAItdvA==
				</data>
				<key>MatchOS</key>
				<string>10.15.x</string>
				<key>Replace</key>
				<data>
				gz1rC6AAAQ+EpgEAAItdvA==
				</data>
			</dict>
			<dict>
				<key>Comment</key>
				<string>algrey - cpuid_set_generic_info - remove wrmsr</string>
				<key>Disabled</key>
				<false/>
				<key>Find</key>
				<data>
				uYsAAAAxwDHSDzA=
				</data>
				<key>MatchOS</key>
				<string>10.13.x,10.14.x,10.15.x</string>
				<key>Replace</key>
				<data>
				Zg8fhAAAAAAAZpA=
				</data>
			</dict>
			<dict>
				<key>Comment</key>
				<string>algrey - cpuid_set_generic_info - set microcode=186</string>
				<key>Disabled</key>
				<false/>
				<key>Find</key>
				<data>
				uYsAAAAPMg==
				</data>
				<key>MatchOS</key>
				<string>10.13.x,10.14.x,10.15.x</string>
				<key>Replace</key>
				<data>
				uroAAABmkA==
				</data>
			</dict>
			<dict>
				<key>Comment</key>
				<string>algrey - cpuid_set_generic_info - set flag=1</string>
				<key>Disabled</key>
				<false/>
				<key>Find</key>
				<data>
				uRcAAAAPMsHqEoDiBw==
				</data>
				<key>MatchOS</key>
				<string>10.13.x,10.14.x,10.15.x</string>
				<key>Replace</key>
				<data>
				sgFmDx+EAAAAAABmkA==
				</data>
			</dict>
			<dict>
				<key>Comment</key>
				<string>algrey - cpuid_set_generic_info - disable check to allow leaf7</string>
				<key>Disabled</key>
				<false/>
				<key>Find</key>
				<data>
				ADoPgg==
				</data>
				<key>MatchOS</key>
				<string>10.13.x,10.14.x,10.15.x</string>
				<key>Replace</key>
				<data>
				AAAPgg==
				</data>
			</dict>
			<dict>
				<key>Comment</key>
				<string>algrey - cpuid_set_info - GenuineIntel to AuthenticAMD</string>
				<key>Disabled</key>
				<false/>
				<key>Find</key>
				<data>
				R2VudWluZUludGVsAA==
				</data>
				<key>MatchOS</key>
				<string>10.13.x,10.14.x,10.15.x</string>
				<key>Replace</key>
				<data>
				QXV0aGVudGljQU1EAA==
				</data>
			</dict>
			<dict>
				<key>Comment</key>
				<string>algrey - cpuid_set_cpufamily - force CPUFAMILY_INTEL_PENRYN</string>
				<key>Disabled</key>
				<false/>
				<key>Find</key>
				<data>
				MduAPbgLjQAGdVw=
				</data>
				<key>MatchBuild</key>
				<string>17G65,17G66</string>
				<key>MatchOS</key>
				<string>10.13.6</string>
				<key>Replace</key>
				<data>
				u7xP6njpXQAAAJA=
				</data>
			</dict>
			<dict>
				<key>Comment</key>
				<string>algrey - cpuid_set_cpufamily - force CPUFAMILY_INTEL_PENRYN</string>
				<key>Disabled</key>
				<false/>
				<key>Find</key>
				<data>
				MduAPagMjQAGdVw=
				</data>
				<key>MatchBuild</key>
				<string>17G8030,17G8037</string>
				<key>MatchOS</key>
				<string>10.13.6</string>
				<key>Replace</key>
				<data>
				u7xP6njpXQAAAJA=
				</data>
			</dict>
			<dict>
				<key>Comment</key>
				<string>algrey - cpuid_set_cpufamily - force CPUFAMILY_INTEL_PENRYN</string>
				<key>Disabled</key>
				<false/>
				<key>Find</key>
				<data>
				MduAPUh5mAAGdVw=
				</data>
				<key>MatchOS</key>
				<string>10.14.6</string>
				<key>Replace</key>
				<data>
				u7xP6njpXQAAAJA=
				</data>
			</dict>
			<dict>
				<key>Comment</key>
				<string>xlnc - cpuid_set_cpufamily - force CPUFAMILY_INTEL_PENRYN</string>
				<key>Disabled</key>
				<false/>
				<key>Find</key>
				<data>
				MduAPUhpmAAGdVw=
				</data>
				<key>MatchBuild</key>
				<string>18G95,18G103</string>
				<key>MatchOS</key>
				<string>10.14.6</string>
				<key>Replace</key>
				<data>
				u7xP6njpXQAAAJA=
				</data>
			</dict>
			<dict>
				<key>Comment</key>
				<string>xlnc - cpuid_set_cpufamily - force CPUFAMILY_INTEL_PENRYN</string>
				<key>Disabled</key>
				<false/>
				<key>Find</key>
				<data>
				MduAPWkWoAAGdVw=
				</data>
				<key>MatchOS</key>
				<string>10.15.0</string>
				<key>Replace</key>
				<data>
				u7xP6njpXQAAAJA=
				</data>
			</dict>
			<dict>
				<key>Comment</key>
				<string>xlnc - cpuid_set_info - grab cores and logicals count from MSR</string>
				<key>Disabled</key>
				<false/>
				<key>Find</key>
				<data>
				PbxP6nh1NosFyAqNAIkFiguNAIsNwAqNAOsW
				</data>
				<key>MatchBuild</key>
				<string>17G65,17G66</string>
				<key>MatchOS</key>
				<string>10.13.6</string>
				<key>Replace</key>
				<data>
				uAgAAIAx2zHJMdIPokGJzkEPtsb/wA8fAOtS
				</data>
			</dict>
			<dict>
				<key>Comment</key>
				<string>xlnc - cpuid_set_info - grab cores and logicals count from MSR</string>
				<key>Disabled</key>
				<false/>
				<key>Find</key>
				<data>
				PbxP6nh1NosFuAuNAIkFegyNAIsNsAuNAOsW
				</data>
				<key>MatchBuild</key>
				<string>17G8030,17G8037</string>
				<key>MatchOS</key>
				<string>10.13.6</string>
				<key>Replace</key>
				<data>
				uAgAAIAx2zHJMdIPokGJzkEPtsb/wA8fAOtS
				</data>
			</dict>
			<dict>
				<key>Comment</key>
				<string>xlnc - cpuid_set_info - grab cores and logicals count from MSR</string>
				<key>Disabled</key>
				<false/>
				<key>Find</key>
				<data>
				PbxP6nh1JosFV3iYAIkFGXmYAIsNT3iYAOs4
				</data>
				<key>MatchOS</key>
				<string>10.14.6</string>
				<key>Replace</key>
				<data>
				uAgAAIAx2zHJMdIPokGJzkEPtsb/wA8fAOtc
				</data>
			</dict>
			<dict>
				<key>Comment</key>
				<string>xlnc - cpuid_set_info - grab cores and logicals count from MSR</string>
				<key>Disabled</key>
				<false/>
				<key>Find</key>
				<data>
				PbxP6nh1JosFV2iYAIkFGWmYAIsNT2iYAOs4
				</data>
				<key>MatchBuild</key>
				<string>18G95,18G103</string>
				<key>MatchOS</key>
				<string>10.14.6</string>
				<key>Replace</key>
				<data>
				uAgAAIAx2zHJMdIPokGJzkEPtsb/wA8fAOtc
				</data>
			</dict>
			<dict>
				<key>Comment</key>
				<string>xlnc - cpuid_set_info - set cores and logicals count</string>
				<key>Disabled</key>
				<false/>
				<key>Find</key>
				<data>
				iwViCo0AiQUkC40AiwVaCo0AiQUcC40A
				</data>
				<key>MatchBuild</key>
				<string>17G65,17G66</string>
				<key>MatchOS</key>
				<string>10.13.6</string>
				<key>Replace</key>
				<data>
				iQViCo0AiQUkC40AiQVaCo0AiQUcC40A
				</data>
			</dict>
			<dict>
				<key>Comment</key>
				<string>xlnc - cpuid_set_info - set cores and logicals count</string>
				<key>Disabled</key>
				<false/>
				<key>Find</key>
				<data>
				iwVSC40AiQUUDI0AiwVKC40AiQUMDI0A
				</data>
				<key>MatchBuild</key>
				<string>17G8030,17G8037</string>
				<key>MatchOS</key>
				<string>10.13.6</string>
				<key>Replace</key>
				<data>
				iQVSC40AiQUUDI0AiQVKC40AiQUMDI0A
				</data>
			</dict>
			<dict>
				<key>Comment</key>
				<string>xlnc - cpuid_set_info - set cores and logicals count</string>
				<key>Disabled</key>
				<false/>
				<key>Find</key>
				<data>
				SIsF5neYAEiJBad4mACBPa14mAC8T+p4
				</data>
				<key>MatchOS</key>
				<string>10.14.6</string>
				<key>Replace</key>
				<data>
				iQXnd5gAiQWpeJgAiQXfd5gAiQWheJgA
				</data>
			</dict>
			<dict>
				<key>Comment</key>
				<string>xlnc - cpuid_set_info - set cores and logicals count</string>
				<key>Disabled</key>
				<false/>
				<key>Find</key>
				<data>
				SIsF5meYAEiJBadomACBPa1omAC8T+p4
				</data>
				<key>MatchBuild</key>
				<string>18G95,18G103</string>
				<key>MatchOS</key>
				<string>10.14.6</string>
				<key>Replace</key>
				<data>
				iQXnZ5gAiQWpaJgAiQXfZ5gAiQWhaJgA
				</data>
			</dict>
			<dict>
				<key>Comment</key>
				<string>xlnc - cpuid_set_info - jmp to calculations and set cpuid_cores_per_package</string>
				<key>Disabled</key>
				<false/>
				<key>Find</key>
				<data>
				dXHoRQYAAEiLBYYVoABIiQVHFqAA
				</data>
				<key>MatchOS</key>
				<string>10.15.0</string>
				<key>Replace</key>
				<data>
				dE7oRQYAAJCJDYYVoADpfgAAAGaQ
				</data>
			</dict>
			<dict>
				<key>Comment</key>
				<string>xlnc - cpuid_set_info - cores and threads calculations</string>
				<key>Disabled</key>
				<false/>
				<key>Find</key>
				<data>
				uTUAAAAPMkjB4iCJwUgJ0bkBAAEAD0XID7fBwekQg+EP
				6x65NQAAAA8ySMHiIInBSAnRuQEAAQAPRcgPt8HB6RA=
				</data>
				<key>MatchOS</key>
				<string>10.15.0</string>
				<key>Replace</key>
				<data>
				uAgAAIAx2zHJMdIPokGJzkUPtvZB/8ZEifFEifBmDx+E
				AAAAAABmDx+EAAAAAAAPH4QAAAAAAOl8////Dx9EAAA=
				</data>
			</dict>
			<dict>
				<key>Comment</key>
				<string>algrey - i386_init - remove rdmsr (x3)</string>
				<key>Disabled</key>
				<false/>
				<key>Find</key>
				<data>
				uZkBAAAPMkjB4iCJxkgJ1rmYAQAADzJIweIgicBICcK/
				WAIxBTHJRTHA
				</data>
				<key>MatchOS</key>
				<string>10.13.x,10.14.x,10.15.x</string>
				<key>Replace</key>
				<data>
				Zg8fhAAAAAAAZg8fhAAAAAAAZg8fhAAAAAAAZg8fhAAA
				AAAAZg8fRAAA
				</data>
			</dict>
			<dict>
				<key>Comment</key>
				<string>algrey - tsc_init - remove Penryn check to execute default case</string>
				<key>Disabled</key>
				<false/>
				<key>Find</key>
				<data>
				PbxP6ngPhI0BAAA=
				</data>
				<key>MatchOS</key>
				<string>10.13.6</string>
				<key>Replace</key>
				<data>
				ZmZmDx+EAAAAAAA=
				</data>
			</dict>
			<dict>
				<key>Comment</key>
				<string>algrey - tsc_init - remove Penryn check to execute default case</string>
				<key>Disabled</key>
				<false/>
				<key>Find</key>
				<data>
				PbxP6ngPhN0BAAA=
				</data>
				<key>MatchOS</key>
				<string>10.14.6</string>
				<key>Replace</key>
				<data>
				ZmZmDx+EAAAAAAA=
				</data>
			</dict>
			<dict>
				<key>Comment</key>
				<string>xlnc - tsc_init - remove Penryn check to execute default case</string>
				<key>Disabled</key>
				<false/>
				<key>Find</key>
				<data>
				PbxP6ngPhNkBAAA=
				</data>
				<key>MatchOS</key>
				<string>10.15.0</string>
				<key>Replace</key>
				<data>
				ZmZmDx+EAAAAAAA=
				</data>
			</dict>
			<dict>
				<key>Comment</key>
				<string>xlnc - tsc_init - grab DID and FID from MSR</string>
				<key>Disabled</key>
				<false/>
				<key>Find</key>
				<data>
				uZQBAAAPMonDuc4AAAAPMg+2zokNcKmFAA+2xIkFa6mF
				AA==
				</data>
				<key>MatchBuild</key>
				<string>17G65,17G66</string>
				<key>MatchOS</key>
				<string>10.13.6</string>
				<key>Replace</key>
				<data>
				uXEAAcAPMonASInBSMHpBoPgP0iDwBCA4QdI0+hI0ehm
				kA==
				</data>
			</dict>
			<dict>
				<key>Comment</key>
				<string>xlnc - tsc_init - grab DID and FID from MSR</string>
				<key>Disabled</key>
				<false/>
				<key>Find</key>
				<data>
				uZQBAAAPMonDuc4AAAAPMg+2zokN2KiFAA+2xIkF06iF
				AA==
				</data>
				<key>MatchBuild</key>
				<string>17G8030,17G8037</string>
				<key>MatchOS</key>
				<string>10.13.6</string>
				<key>Replace</key>
				<data>
				uXEAAcAPMonASInBSMHpBoPgP0iDwBCA4QdI0+hI0ehm
				kA==
				</data>
			</dict>
			<dict>
				<key>Comment</key>
				<string>algrey - tsc_init - grab DID and FID from MSR</string>
				<key>Disabled</key>
				<false/>
				<key>Find</key>
				<data>
				uZQBAAAPMonDuc4AAAAPMg+2zokNst+QAA+2xIkFrd+Q
				AA==
				</data>
				<key>MatchOS</key>
				<string>10.14.6</string>
				<key>Replace</key>
				<data>
				uXEAAcAPMonASInBSMHpBoPgP0iDwBCA4QdI0+hI0ehm
				kA==
				</data>
			</dict>
			<dict>
				<key>Comment</key>
				<string>xlnc - tsc_init - grab DID and FID from MSR</string>
				<key>Disabled</key>
				<false/>
				<key>Find</key>
				<data>
				uZQBAAAPMonDuc4AAAAPMg+2zokNss+QAA+2xIkFrc+Q
				AA==
				</data>
				<key>MatchBuild</key>
				<string>18G95,18G103</string>
				<key>MatchOS</key>
				<string>10.14.6</string>
				<key>Replace</key>
				<data>
				uXEAAcAPMonASInBSMHpBoPgP0iDwBCA4QdI0+hI0ehm
				kA==
				</data>
			</dict>
			<dict>
				<key>Comment</key>
				<string>xlnc - tsc_init - grab DID and FID from MSR</string>
				<key>Disabled</key>
				<false/>
				<key>Find</key>
				<data>
				uZQBAAAPMonDuc4AAAAPMg+2zokNYxiYAA+2xIkFXhiY
				AA==
				</data>
				<key>MatchOS</key>
				<string>10.15.0</string>
				<key>Replace</key>
				<data>
				uXEAAcAPMonASInBSMHpBoPgP0iDwBCA4QdI0+hI0ehm
				kA==
				</data>
			</dict>
			<dict>
				<key>Comment</key>
				<string>algrey - tsc_init - skip test and go get FSBFrequency</string>
				<key>Disabled</key>
				<false/>
				<key>Find</key>
				<data>
				SIkFRKmFAPfDAAABAHQ=
				</data>
				<key>MatchBuild</key>
				<string>17G65,17G66</string>
				<key>MatchOS</key>
				<string>10.13.6</string>
				<key>Replace</key>
				<data>
				SIkFRKmFAGYPH0QAAOs=
				</data>
			</dict>
			<dict>
				<key>Comment</key>
				<string>algrey - tsc_init - skip test and go get FSBFrequency</string>
				<key>Disabled</key>
				<false/>
				<key>Find</key>
				<data>
				SIkFrKiFAPfDAAABAHQ=
				</data>
				<key>MatchBuild</key>
				<string>17G8030,17G8037</string>
				<key>MatchOS</key>
				<string>10.13.6</string>
				<key>Replace</key>
				<data>
				SIkFrKiFAGYPH0QAAOs=
				</data>
			</dict>
			<dict>
				<key>Comment</key>
				<string>algrey - tsc_init - skip test and go get FSBFrequency</string>
				<key>Disabled</key>
				<false/>
				<key>Find</key>
				<data>
				SIkFht+QAPfDAAABAHQ=
				</data>
				<key>MatchOS</key>
				<string>10.14.6</string>
				<key>Replace</key>
				<data>
				SIkFht+QAGYPH0QAAOs=
				</data>
			</dict>
			<dict>
				<key>Comment</key>
				<string>xlnc - tsc_init - skip test and go get FSBFrequency</string>
				<key>Disabled</key>
				<false/>
				<key>Find</key>
				<data>
				SIkFhs+QAPfDAAABAHQ=
				</data>
				<key>MatchBuild</key>
				<string>18G95,18G103</string>
				<key>MatchOS</key>
				<string>10.14.6</string>
				<key>Replace</key>
				<data>
				SIkFhs+QAGYPH0QAAOs=
				</data>
			</dict>
			<dict>
				<key>Comment</key>
				<string>xlnc - tsc_init - skip test and go get FSBFrequency</string>
				<key>Disabled</key>
				<false/>
				<key>Find</key>
				<data>
				98MAAAEAdA==
				</data>
				<key>MatchOS</key>
				<string>10.15.0</string>
				<key>Replace</key>
				<data>
				Zg8fRAAA6w==
				</data>
			</dict>
			<dict>
				<key>Comment</key>
				<string>algrey - lapic_init - remove version check and panic</string>
				<key>Disabled</key>
				<false/>
				<key>Find</key>
				<data>
				JfwAAACD+BM=
				</data>
				<key>MatchOS</key>
				<string>10.13.x,10.14.x</string>
				<key>Replace</key>
				<data>
				JfAAAADrI5A=
				</data>
			</dict>
			<dict>
				<key>Comment</key>
				<string>xlnc - lapic_init - remove version check and panic</string>
				<key>Disabled</key>
				<false/>
				<key>Find</key>
				<data>
				g/gTdl4=
				</data>
				<key>MatchOS</key>
				<string>10.15.x</string>
				<key>Replace</key>
				<data>
				Dx9EAAA=
				</data>
			</dict>
			<dict>
				<key>Comment</key>
				<string>algrey - lapic_interrupt - skip checks and prevent panic</string>
				<key>Disabled</key>
				<false/>
				<key>Find</key>
				<data>
				gz2UlnAAAHQK
				</data>
				<key>MatchBuild</key>
				<string>17G65,17G66</string>
				<key>MatchOS</key>
				<string>10.13.6</string>
				<key>Replace</key>
				<data>
				60gPH4AAAAAA
				</data>
			</dict>
			<dict>
				<key>Comment</key>
				<string>algrey - lapic_interrupt - skip checks and prevent panic</string>
				<key>Disabled</key>
				<false/>
				<key>Find</key>
				<data>
				gz3UlXAAAHQK
				</data>
				<key>MatchBuild</key>
				<string>17G8030,17G8037</string>
				<key>MatchOS</key>
				<string>10.13.6</string>
				<key>Replace</key>
				<data>
				60gPH4AAAAAA
				</data>
			</dict>
			<dict>
				<key>Comment</key>
				<string>algrey - lapic_interrupt - skip checks and prevent panic</string>
				<key>Disabled</key>
				<false/>
				<key>Find</key>
				<data>
				gz31zXsAAHQK
				</data>
				<key>MatchOS</key>
				<string>10.14.6</string>
				<key>Replace</key>
				<data>
				60gPH4AAAAAA
				</data>
			</dict>
			<dict>
				<key>Comment</key>
				<string>xlnc - lapic_interrupt - skip checks and prevent panic</string>
				<key>Disabled</key>
				<false/>
				<key>Find</key>
				<data>
				gz31vXsAAHQK
				</data>
				<key>MatchBuild</key>
				<string>18G95,18G103</string>
				<key>MatchOS</key>
				<string>10.14.6</string>
				<key>Replace</key>
				<data>
				60gPH4AAAAAA
				</data>
			</dict>
			<dict>
				<key>Comment</key>
				<string>xlnc - lapic_interrupt - skip checks and prevent panic</string>
				<key>Disabled</key>
				<false/>
				<key>Find</key>
				<data>
				gz0I3Z8AAHQO
				</data>
				<key>MatchOS</key>
				<string>10.15.0</string>
				<key>Replace</key>
				<data>
				6zkPH4AAAAAA
				</data>
			</dict>
			<dict>
				<key>Comment</key>
				<string>algrey - mtrr_update_action - fix PAT (x2)</string>
				<key>Disabled</key>
				<false/>
				<key>Find</key>
				<data>
				icCB4v//8P+BygAAAQC5dwIAAA==
				</data>
				<key>MatchOS</key>
				<string>10.13.x</string>
				<key>Replace</key>
				<data>
				uXcCAAC4BgEHALoGAQcADx9AAA==
				</data>
			</dict>
			<dict>
				<key>Comment</key>
				<string>algrey - mtrr_update_action - fix PAT (x2) (10.14.4+)</string>
				<key>Disabled</key>
				<false/>
				<key>Find</key>
				<data>
				icCB4v//AP+BygAAAQC5dwIAAA==
				</data>
				<key>MatchOS</key>
				<string>10.14.x,10.15.x</string>
				<key>Replace</key>
				<data>
				uXcCAAC4BgEHALoGAQcADx9AAA==
				</data>
			</dict>
		</array>
		<key>PanicNoKextDump</key>
		<true/>
	</dict>
	<key>RtVariables</key>
	<dict>
		<key>BooterConfig</key>
		<string>0x28</string>
		<key>CsrActiveConfig</key>
		<string>0x67</string>
		<key>ROM</key>
		<string>UseMacAddr0</string>
	</dict>
	<key>SMBIOS</key>
	<dict>
		<key>BiosReleaseDate</key>
		<string>07/26/2019</string>
		<key>BiosVendor</key>
		<string>Apple Inc.</string>
		<key>BiosVersion</key>
		<string>IMP11.88Z.F000.B00.1907261958</string>
		<key>Board-ID</key>
		<string>Mac-7BA5B2D9E42DDD94</string>
		<key>BoardManufacturer</key>
		<string>Apple Inc.</string>
		<key>BoardType</key>
		<integer>10</integer>
		<key>BoardVersion</key>
		<string>1.0</string>
		<key>ChassisAssetTag</key>
		<string>iMacPro-Aluminum</string>
		<key>ChassisManufacturer</key>
		<string>Apple Inc.</string>
		<key>ChassisType</key>
		<string>0x09</string>
		<key>EfiVersion</key>
		<string>1037.0.39.151.1</string>
		<key>Family</key>
		<string>iMac Pro</string>
		<key>FirmwareFeatures</key>
		<string>0xFD8FF53F</string>
		<key>FirmwareFeaturesMask</key>
		<string>0xFF9FFF3F</string>
		<key>LocationInChassis</key>
		<string>Part Component</string>
		<key>Manufacturer</key>
		<string>Apple Inc.</string>
		<key>Mobile</key>
		<false/>
		<key>PlatformFeature</key>
		<string>0x00</string>
		<key>ProductName</key>
		<string>iMacPro1,1</string>
		<key>Trust</key>
		<true/>
		<key>Version</key>
		<string>1.0</string>
	</dict>
	<key>SystemParameters</key>
	<dict>
		<key>InjectKexts</key>
		<string>Yes</string>
		<key>InjectSystemID</key>
		<true/>
	</dict>
</dict>
</plist>
