<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>KernelAndKextPatches</key>
	<dict>
		<key>KernelToPatch</key>
		<array>
		<dict>
				<key>Comment</key>
				<string>Disable panic kext logging on 10.13 Release kernel</string>
				<key>Disabled</key>
				<false/>
				<key>Find</key>
				<data>
				igKEwHRE
				</data>
				<key>MatchOS</key>
				<string>10.13.x</string>
				<key>Replace</key>
				<data>
				igKEwOtE
				</data>
			</dict>
			<dict>
				<key>Comment</key>
				<string>Disable panic kext logging on 10.14 Release kernel</string>
				<key>Disabled</key>
				<false/>
				<key>Find</key>
				<data>
				igKEwHRC
				</data>
				<key>MatchOS</key>
				<string>10.14.x</string>
				<key>Replace</key>
				<data>
				igKEwOtC
				</data>
			</dict>
			<dict>
				<key>Comment</key>
				<string>algrey - commpage_populate -remove rdmsr</string>
				<key>Disabled</key>
				<false/>
				<key>Find</key>
				<data>
				uaABAAAPMg==
				</data>
				<key>MatchOS</key>
				<string>10.13.6,10.14.x</string>
				<key>Replace</key>
				<data>
				Dx+AAAAAAA==
				</data>
			</dict>
			<dict>
				<key>Comment</key>
				<string>algrey - cpu_topology_sort -disable _x86_validate_topology</string>
				<key>Disabled</key>
				<false/>
				<key>Find</key>
				<data>
				6Ar2//+c
				</data>
				<key>MatchOS</key>
				<string>10.13.6</string>
				<key>Replace</key>
				<data>
				Dx9EAACc
				</data>
			</dict>
			<dict>
				<key>Comment</key>
				<string>xlnc - cpu_topology_sort -disable _x86_validate_topology</string>
				<key>Disabled</key>
				<false/>
				<key>Find</key>
				<data>
				6Jn1//8=
				</data>
				<key>MatchOS</key>
				<string>10.14.4</string>
				<key>Replace</key>
				<data>
				Dx9EAAA=
				</data>
			</dict>
			<dict>
				<key>Comment</key>
				<string>xlnc - cpuid_set_cache_info - cpuid 0x8000001D instead 0</string>
				<key>Disabled</key>
				<false/>
				<key>Find</key>
				<data>
				McAx2zHJMdIPokGJxkGJ0YM9ygWNAAB0GEiNPZKSXwAx
				9jHAQYnIRInyidno6IlYAEGD/gQPgvoBAABFMfbrDGYP
				H4QAAAAAAA==
				</data>
				<key>MatchBuild</key>
				<string>17G65,17G66</string>
				<key>MatchOS</key>
				<string>10.13.6</string>
				<key>Replace</key>
				<data>
				uB0AAIAx2zHJMdIPokGJxkGJ0YM9xwWNAAB0G0iNPY+S
				XwC+HQAAgDHAQYnIRInyidno4olYAEGD/gQPgvQBAABF
				MfbrBg8fAA==
				</data>
			</dict>
			<dict>
				<key>Comment</key>
				<string>algrey - cpuid_set_cache_info - cpuid 0x8000001D instead 0</string>
				<key>Disabled</key>
				<false/>
				<key>Find</key>
				<data>
				McAx2zHJMdIPokGJxkGJ0YM9yv2MAAB0GEiNPd+JXwAx
				9jHAQYnIRInyidnoqH5YAEGD/gQPgvoBAABFMfbrDGYP
				H4QAAAAAAA==
				</data>
				<key>MatchBuild</key>
				<string>17G6029,17G6030</string>
				<key>MatchOS</key>
				<string>10.13.6</string>
				<key>Replace</key>
				<data>
				uB0AAIAx2zHJMdIPokGJxkGJ0YM9x/2MAAB0G0iNPdyJ
				XwC+HQAAgDHAQYnIRInyidnoon5YAEGD/gQPgvQBAABF
				MfbrBg8fAA==
				</data>
			</dict>
			<dict>
				<key>Comment</key>
				<string>xlnc - cpuid_set_cache_info - cpuid 0x8000001D instead 0</string>
				<key>Disabled</key>
				<false/>
				<key>Find</key>
				<data>
				McAx2zHJMdIPokGJxoM9re2XAAB0G0GJ0UiNPRehZwAx
				9jHAQYnIRInyidnoWP1fAEGD/gQPgvgBAABFMfbrDGYP
				H4QAAAAAAA==
				</data>
				<key>MatchOS</key>
				<string>10.14.4</string>
				<key>Replace</key>
				<data>
				uB0AAIAx2zHJMdIPokGJxkGJ0YM9p+2XAAB0G0iNPRSh
				ZwC+HQAAgDHAQYnIRInyidnoUv1fAEGD/gQPgvIBAABF
				MfbrBg8fAA==
				</data>
			</dict>
			<dict>
				<key>Comment</key>
				<string>algrey - cpuid_set_cache_info - cpuid 0x8000001D instead 4</string>
				<key>Disabled</key>
				<false/>
				<key>Find</key>
				<data>
				uAQAAABEifFEiQ==
				</data>
				<key>MatchOS</key>
				<string>10.13.6,10.14.x</string>
				<key>Replace</key>
				<data>
				uB0AAIBEifFEiQ==
				</data>
			</dict>
			<dict>
				<key>Comment</key>
				<string>algrey - cpuid_set_cache_info - don't set cpuid_cores_per_package</string>
				<key>Disabled</key>
				<false/>
				<key>Find</key>
				<data>
				wega/8A=
				</data>
				<key>MatchOS</key>
				<string>10.13.6,10.14.x</string>
				<key>Replace</key>
				<data>
				Dx8A6wY=
				</data>
			</dict>
			<dict>
				<key>Comment</key>
				<string>algrey - cpuid_set_generic_info - remove wrmsr</string>
				<key>Disabled</key>
				<false/>
				<key>Find</key>
				<data>
				uYsAAAAxwDHSDzA=
				</data>
				<key>MatchOS</key>
				<string>10.13.6,10.14.x</string>
				<key>Replace</key>
				<data>
				Zg8fhAAAAAAAZpA=
				</data>
			</dict>
			<dict>
				<key>Comment</key>
				<string>algrey - cpuid_set_generic_info - set microcode=186</string>
				<key>Disabled</key>
				<false/>
				<key>Find</key>
				<data>
				uYsAAAAPMg==
				</data>
				<key>MatchOS</key>
				<string>10.13.6,10.14.x</string>
				<key>Replace</key>
				<data>
				uroAAABmkA==
				</data>
			</dict>
			<dict>
				<key>Comment</key>
				<string>algrey - cpuid_set_generic_info - set flag=1</string>
				<key>Disabled</key>
				<false/>
				<key>Find</key>
				<data>
				uRcAAAAPMsHqEoDiBw==
				</data>
				<key>MatchOS</key>
				<string>10.13.6,10.14.x</string>
				<key>Replace</key>
				<data>
				sgFmDx+EAAAAAABmkA==
				</data>
			</dict>
			<dict>
				<key>Comment</key>
				<string>algrey - cpuid_set_generic_info - disable check to allow leaf7</string>
				<key>Disabled</key>
				<false/>
				<key>Find</key>
				<data>
				ADoPgg==
				</data>
				<key>MatchOS</key>
				<string>10.13.6,10.14.x</string>
				<key>Replace</key>
				<data>
				AAAPgg==
				</data>
			</dict>
			<dict>
				<key>Comment</key>
				<string>algrey - cpuid_set_info - GenuineIntel to AuthenticAMD </string>
				<key>Disabled</key>
				<false/>
				<key>Find</key>
				<data>
				R2VudWluZUludGVsAA==
				</data>
				<key>MatchOS</key>
				<string>10.13.6,10.14.x</string>
				<key>Replace</key>
				<data>
				QXV0aGVudGljQU1EAA==
				</data>
			</dict>
			<dict>
				<key>Comment</key>
				<string>xlnc - cpuid_set_cpufamily - force CPUFAMILY_INTEL_PENRYN</string>
				<key>Disabled</key>
				<false/>
				<key>Find</key>
				<data>
				MduAPbgLjQAGdVw=
				</data>
				<key>MatchBuild</key>
				<string>17G65,17G66</string>
				<key>MatchOS</key>
				<string>10.13.6</string>
				<key>Replace</key>
				<data>
				u7xP6njpXQAAAJA=
				</data>
			</dict>
			<dict>
				<key>Comment</key>
				<string>algrey - cpuid_set_cpufamily - force CPUFAMILY_INTEL_PENRYN</string>
				<key>Disabled</key>
				<false/>
				<key>Find</key>
				<data>
				MduAPbgDjQAGdVw=
				</data>
				<key>MatchBuild</key>
				<string>17G6029,17G6030</string>
				<key>MatchOS</key>
				<string>10.13.6</string>
				<key>Replace</key>
				<data>
				u7xP6njpXQAAAJA=
				</data>
			</dict>
			<dict>
				<key>Comment</key>
				<string>xlnc - cpuid_set_cpufamily - force CPUFAMILY_INTEL_PENRYN</string>
				<key>Disabled</key>
				<false/>
				<key>Find</key>
				<data>
				MduAPZjzlwAGdVw=
				</data>
				<key>MatchOS</key>
				<string>10.14.4</string>
				<key>Replace</key>
				<data>
				u7xP6njpXQAAAJA=
				</data>
			</dict>
			<dict>
				<key>Comment</key>
				<string>xlnc - cpuid_set_info - grab cores and logicals count from MSR</string>
				<key>Disabled</key>
				<false/>
				<key>Find</key>
				<data>
				PbxP6nh1NosFyAqNAIkFiguNAIsNwAqNAOsW
				</data>
				<key>MatchBuild</key>
				<string>17G65,17G66</string>
				<key>MatchOS</key>
				<string>10.13.6</string>
				<key>Replace</key>
				<data>
				uAgAAIAx2zHJMdIPokGJzkEPtsb/wA8fAOtS
				</data>
			</dict>
			<dict>
				<key>Comment</key>
				<string>algrey - cpuid_set_info - grab cores and logicals count from MSR</string>
				<key>Disabled</key>
				<false/>
				<key>Find</key>
				<data>
				PbxP6nh1NosFyAKNAIkFigONAIsNwAKNAOsW
				</data>
				<key>MatchBuild</key>
				<string>17G6029,17G6030</string>
				<key>MatchOS</key>
				<string>10.13.6</string>
				<key>Replace</key>
				<data>
				uAgAAIAx2zHJMdIPokGJzkEPtsb/wA8fAOtS
				</data>
			</dict>
			<dict>
				<key>Comment</key>
				<string>xlnc - cpuid_set_info - grab cores and logicals count from MSR</string>
				<key>Disabled</key>
				<false/>
				<key>Find</key>
				<data>
				PbxP6nh1JosFp/KXAIkFafOXAIsNn/KXAOs4
				</data>
				<key>MatchOS</key>
				<string>10.14.4</string>
				<key>Replace</key>
				<data>
				uAgAAIAx2zHJMdIPokGJzkEPtsb/wA8fAOtc
				</data>
			</dict>
			<dict>
				<key>Comment</key>
				<string>xlnc - cpuid_set_info - set cores and logicals count</string>
				<key>Disabled</key>
				<false/>
				<key>Find</key>
				<data>
				iwViCo0AiQUkC40AiwVaCo0AiQUcC40A
				</data>
				<key>MatchBuild</key>
				<string>17G65,17G66</string>
				<key>MatchOS</key>
				<string>10.13.6</string>
				<key>Replace</key>
				<data>
				iQViCo0AiQUkC40AiQVaCo0AiQUcC40A
				</data>
			</dict>
			<dict>
				<key>Comment</key>
				<string>algrey - cpuid_set_info - set cores and logicals count</string>
				<key>Disabled</key>
				<false/>
				<key>Find</key>
				<data>
				iwViAo0AiQUkA40AiwVaAo0AiQUcA40A
				</data>
				<key>MatchBuild</key>
				<string>17G6029,17G6030</string>
				<key>MatchOS</key>
				<string>10.13.6</string>
				<key>Replace</key>
				<data>
				iQViAo0AiQUkA40AiQVaAo0AiQUcA40A
				</data>
			</dict>
			<dict>
				<key>Comment</key>
				<string>xlnc - cpuid_set_info - set cores and logicals count</string>
				<key>Disabled</key>
				<false/>
				<key>Find</key>
				<data>
				SIsFNvKXAEiJBffylwCBPf3ylwC8T+p4
				</data>
				<key>MatchOS</key>
				<string>10.14.4</string>
				<key>Replace</key>
				<data>
				iQU38pcAiQX58pcAiQUv8pcAiQXx8pcA
				</data>
			</dict>
			<dict>
				<key>Comment</key>
				<string>algrey - i386_init - remove rdmsr</string>
				<key>Disabled</key>
				<false/>
				<key>Find</key>
				<data>
				uZkBAAAPMkjB4iCJxkgJ1rmYAQAADzJIweIgicBICcK/
				WAIxBTHJRTHA
				</data>
				<key>MatchOS</key>
				<string>10.13.6,10.14.x</string>
				<key>Replace</key>
				<data>
				Zg8fhAAAAAAAZg8fhAAAAAAAZg8fhAAAAAAAZg8fhAAA
				AAAAZg8fRAAA
				</data>
			</dict>
			<dict>
				<key>Comment</key>
				<string>xlnc - tsc_init - replace penryn tsc</string>
				<key>Disabled</key>
				<false/>
				<key>Find</key>
				<data>
				uZgBAAAPMkGJ10SJ+MHoCIPgH0iJBbyphQBBwe8OQYPn
				AUiNPZaMXgDoSAIAAEiJw0iJHa6phQA=
				</data>
				<key>MatchBuild</key>
				<string>17G65,17G66</string>
				<key>MatchOS</key>
				<string>10.13.6</string>
				<key>Replace</key>
				<data>
				SI09e4xeAOhqAgAASYnHSI09qYxeAOhbAgAASInDSIkd
				wamFADHSTIn4SPfzSIkFoqmFAA8fQAA=
				</data>
			</dict>
			<dict>
				<key>Comment</key>
				<string>algrey - tsc_init - replace penryn tsc</string>
				<key>Disabled</key>
				<false/>
				<key>Find</key>
				<data>
				uZgBAAAPMkGJ10SJ+MHoCIPgH0iJBbyhhQBBwe8OQYPn
				AUiNPUKEXgDoSAIAAEiJw0iJHa6hhQA=
				</data>
				<key>MatchBuild</key>
				<string>17G6029,17G6030</string>
				<key>MatchOS</key>
				<string>10.13.6</string>
				<key>Replace</key>
				<data>
				SI09J4ReAOhqAgAASYnHSI09VYReAOhbAgAASInDSIkd
				waGFADHSTIn4SPfzSIkFoqGFAA8fQAA=
				</data>
			</dict>
			<dict>
				<key>Comment</key>
				<string>xlnc - tsc_init - replace penryn tsc</string>
				<key>Disabled</key>
				<false/>
				<key>Find</key>
				<data>
				uZgBAAAPMkGJ1YnQwegIg+AfSIkFCmiQAEHB7Q5Bg+UB
				SI09e2tmAOj2AgAASInDSIkF/GeQAA==
				</data>
				<key>MatchOS</key>
				<string>10.14.4</string>
				<key>Replace</key>
				<data>
				SI09X2tmAOgXAwAASYnHSI09jWtmAOgIAwAASInDSIkd
				DmiQADHSTIn4SPfzSIkF72eQAA8fAA==
				</data>
			</dict>
			<dict>
				<key>Comment</key>
				<string>algrey - lapic_init - remove version check and panic</string>
				<key>Disabled</key>
				<false/>
				<key>Find</key>
				<data>
				JfwAAACD+BM=
				</data>
				<key>MatchOS</key>
				<string>10.13.6,10.14.x</string>
				<key>Replace</key>
				<data>
				JfAAAADrI5A=
				</data>
			</dict>
			<dict>
				<key>Comment</key>
				<string>xlnc - lapic_interrupt - skip checks and prevent panic</string>
				<key>Disabled</key>
				<false/>
				<key>Find</key>
				<data>
				gz2UlnAAAHQK
				</data>
				<key>MatchBuild</key>
				<string>17G65,17G66</string>
				<key>MatchOS</key>
				<string>10.13.6</string>
				<key>Replace</key>
				<data>
				60gPH4AAAAAA
				</data>
			</dict>
			<dict>
				<key>Comment</key>
				<string>algrey - lapic_interrupt - skip checks and prevent panic</string>
				<key>Disabled</key>
				<false/>
				<key>Find</key>
				<data>
				gz2UjnAAAHQK
				</data>
				<key>MatchBuild</key>
				<string>17G6029,17G6030</string>
				<key>MatchOS</key>
				<string>10.13.6</string>
				<key>Replace</key>
				<data>
				60gPH4AAAAAA
				</data>
			</dict>
			<dict>
				<key>Comment</key>
				<string>xlnc - lapic_interrupt - skip checks and prevent panic</string>
				<key>Disabled</key>
				<false/>
				<key>Find</key>
				<data>
				gz3VWHsAAHQK
				</data>
				<key>MatchOS</key>
				<string>10.14.4</string>
				<key>Replace</key>
				<data>
				60gPH4AAAAAA
				</data>
			</dict>
			<dict>
				<key>Comment</key>
				<string>algrey - mtrr_update_action - fix PAT</string>
				<key>Disabled</key>
				<false/>
				<key>Find</key>
				<data>
				icCB4v//8P+BygAAAQC5dwIAAA==
				</data>
				<key>MatchOS</key>
				<string>10.13.6,10.14.1,10.14.3</string>
				<key>Replace</key>
				<data>
				uXcCAAC4BgEHALoGAQcADx9AAA==
				</data>
			</dict>
			<dict>
				<key>Comment</key>
				<string>xlnc - mtrr_update_action - fix PAT</string>
				<key>Disabled</key>
				<false/>
				<key>Find</key>
				<data>
				icCB4v//AP+BygAAAQC5dwIAAA==
				</data>
				<key>MatchOS</key>
				<string>10.14.4</string>
				<key>Replace</key>
				<data>
				uXcCAAC4BgEHALoGAQcADx9AAA==
				</data>
			</dict>
			<dict>
				<key>Comment</key>
				<string>algrey - replace ARTFrequency with CPUFrequency</string>
				<key>Disabled</key>
				<false/>
				<key>Find</key>
				<data>
				QVJURnJlcXVlbmN5AA==
				</data>
				<key>MatchOS</key>
				<string>10.13.6,10.14.x</string>
				<key>Replace</key>
				<data>
				Q1BVRnJlcXVlbmN5AA==
				</data>
			</dict>
			<dict>
				<key>Comment</key>
				<string>algrey - fix tscfreq   #WIP</string>
				<key>Disabled</key>
				<true/>
				<key>Find</key>
				<data>
				SIkF65+FAA==
				</data>
				<key>MatchOS</key>
				<string>10.13.x</string>
				<key>Replace</key>
				<data>
				TIkt65+FAA==
				</data>
			</dict>

		</array>
	</dict>
</dict>
</plist>
