on:
  schedule:
  - cron: 0 1 * * *
name: Daily Issue Closure
jobs:
  cycle-weekly-close:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@master
    - name: weekly-issue-closure
      uses: bdougie/close-issues-based-on-label@master
      env:
        LABEL: wontfix
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
